html {
  background: linear-gradient(225deg, #EBEDFF 25%, #F8FCFF 100%);
  height: 100%;
}

body {
  margin: 0;
}

.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


/* Alerts */

.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.alert-danger {
  background: #dc3545;
  color: #fff;
}

.alert-success {
  background: #28a745;
  color: #fff;
}

/* LANDING PAGE, SIGN UP, LOG IN */
.landing {
  display: grid;
  grid-template-columns: 15% 17.5% 17.5% 17.5% 17.5% 15%;
  grid-template-rows: 10% 20% 20% 20% 20% 10%;
}

.col-1 {
  grid-row-start: 2;
  grid-row-end: 6;
  grid-column-start: 2;
  grid-column-end: 4;
  margin-top: 100px;
}

.col-2 {
  grid-row-start: 2;
  grid-row-end: 6;
  grid-column-start: 4;
  grid-column-end: 6;
  margin-top: 100px;
}

.col-1 > h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 3em;
  color: #008CC5;
  margin: 0;
}

.col-1 > h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.3em;
  color: #384669;
  width: 325px;
  margin-bottom: 30px;
}

.landing-btn, .form-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #fff;
  background-color: #008CC5;
  padding: 10px 30px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 3px;
}

.form-btn {
  border: none;
  font-size: 1em;
  margin-top: 20px;
}

.btn-signup {
  margin-right: 20px;
}

.btn-demo {
  color: #008CC5;
  box-shadow: 0px 0px 0px 2px #008CC5 inset;
  background-color: rgba(255, 255, 255, 0);
}

/* .landing-btn {
  transform: translateZ(.1px);
  position: relative;
  z-index: 10;
  display: inline-block;
  border-radius: 4px;
  border: none;
  text-align: center;
  font-family: 'Arvo', serif;
  font-size: 20px;
  padding: 10px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  width: 200px;
  text-decoration: none;
} */

/* .landing-btn span {
  color: black;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.landing-btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.landing-btn:hover span {
  padding-right: 25px;
}

.landing-btn:hover span:after {
  opacity: 1;
  right: 0;
} */

.have-acct-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #384669;
  margin-top: 20px;
}

.have-acct-text-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1em;
  color: #008CC5;
}

.car {
  width: 100%;
  margin-top: 50px;
}

label {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #384669;
  display: block;
}

.email-label {
  margin-bottom: 5px;
}

.password-label {
  margin-top: 15px;
  margin-bottom: 5px;
}

input {
  border: 1px solid #667EB9;
}

@media(max-width: 1000px) {
  .col-1 > h1 {
    font-size: 2.75em;
  }

  .col-1 > h2 {
    width: 100%;
    font-size: 1.2em;
  }

  .car {
    width: 90%;
    padding-left: 10%;
  }

  .landing-btn {
    padding: 8px 27px;
  }

  @media(max-width: 768px) {
    .landing {
      display: grid;
      grid-template-columns: 20% 20% 20% 20% 20%;
      grid-template-rows: 10% 20% 20% 20% 20% 10%;
    }

    .col-1, .col-2 {
      grid-column-start: 2;
      grid-column-end: 5;
      margin: 0;
    }

    .col-1 {
      grid-row-start: 2;
      grid-row-end: 5;
    }

    .col-2 {
      grid-row-start: 5;
      grid-row-end: 6;
    }

    .col-1 > h2 {
      width: 300px;
    }

    .car {
      width: 100%;
      padding: 0;
    }
  }

  @media(max-width: 500px) {
    .landing {
      grid-template-columns: 5% 30% 30% 30% 5%;
    }
  }
}


/* NAVBAR */
.navbar {
  background-color: rgba(255, 255, 255, 0.6);
  display: grid;
  /* grid-template-columns: 10% 20% 20% 20% 20% 10%; */
}

.navbar > ul {
  list-style: none;
  text-decoration: none;
  padding: 0;
  display: grid;
  grid-template-columns: 10% 20% 20% 20% 20% 10%;
}

.navbar > li {
  display: inline;
}

.navbar {
  /* display: flex;
  justify-content: space-between; */
  align-items: center;
  /* padding: 0rem 2rem; */
  /* position: fixed; */
  /* z-index: 1;
  top: 0; */
}

.navbar a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #808FB4;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.nav-link-1 {
  grid-column: 2;
}

.nav-link-2 {
  grid-column: 3;
}

.nav-link-3 {
  grid-column: 4;
}


/* MAINTENANCE OPTIONS */

.maintenance-options {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 8%;
}

.maintenance-options > h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.3em;
  color: #384669;
  grid-row: 2;
}

.wrapper-1, .wrapper-2, .wrapper-3, .wrapper-4 {
  grid-row: 3;
}

.wrapper-1 {
  grid-column: 1;
}

.wrapper-2 {
  grid-column: 2;
}

.wrapper-3 {
  grid-column: 3;
}

.wrapper-4 {
  grid-column: 4;
}

.maintenance-item {
  background-color: #fff;
  margin: 10px 20px 10px 0;
  height: 65px;
  display: flex;
  border-radius: 10px;
  cursor: pointer;
  align-items: center;
  -webkit-box-shadow: 0px 2px 14px 2px rgba(110, 20, 20, 0.09); 
  box-shadow: 0px 2px 14px 2px rgba(0,0,0,0.09);
}

.maintenance-item-expanded {
  background-color: #fff;
  margin: 10px 20px 10px 0;
  border-radius: 10px;
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 14px 2px rgba(110, 20, 20, 0.09); 
  box-shadow: 0px 2px 14px 2px rgba(0,0,0,0.09);
}

.flex-container {
  display: flex;
}

.icon {
  padding: 10px;
  align-items: center;
}

.flex-sub-container {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.maintenance-task {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: .9em;
  color: #008CC5;
  padding: 5px 5px 0 0;
  margin: 0;
}

.schedule-task {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: .8em;
  color: #384669;
  margin: 0;
  padding: 5px 0;
}

.schedule-task:hover {
  color: #00B5DF;
  transition: color 0.5s ease;
}

.maintenance-item-form {
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 0 10px 10px 10px;
  grid-row-start: 3;
  grid-row-end: 6;
}

.date-label {
  font-size: .8em;
}

.date-input {
  background: white;
  font-size: .8em;
  border-right: none;
  border-left: none;
  color: #384669;
  margin: 5px 0 10px 0; 
}


.notes-label {
  font-size: .8em;
}

.input-notes {
  width: 95%;
  margin-bottom: 5px;
}

.button-container {
  display: flex;
  flex-direction: row;
}

.submit-button {
  font-family: 'Roboto', sans-serif;
  font-size: .7em;
  width: 80px;
  color: #008CC5;
  background-color: #CAF3FB;
  border-radius: 5px;
  padding: 5px 10px;
  border: none;
  margin-right: 5px;
}

.cancel-button {
  font-family: 'Roboto', sans-serif;
  font-size: .7em;
  width: 80px;
  color: #7C87A1;
  background-color: #E7EBF5;
  border-radius: 5px;
  padding: 5px 10px;
  border: none;
  margin-left: 5px;
}



@media(max-width: 1000px) {
  
}

@media(max-width: 768px) {

}

@media(max-width: 500px) {

}


/* PENDING MAINTENANCE */

.pending-maintenance-h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.3em;
  color: #384669;
  margin-left: 20px;
}

.pending-maintenance-sort {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #384669;
  margin-left: 20px;
}

.container-pending-maintenance-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 5px;
  align-items: start;
  margin: 10px;
}

.pending-maintenance-item, .pending-maintenance-item-expanded {
  background-color: #fff;
  margin: 10px;
  width: 300px;
  border-radius: 10px;
  cursor: pointer;
  align-items: center;
  -webkit-box-shadow: 0px 2px 14px 2px rgba(110, 20, 20, 0.09); 
  box-shadow: 0px 2px 14px 2px rgba(0,0,0,0.09);
}

.pending-maintenance-task {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1em;
  color: #008CC5;
  /* padding: 5px 5px 0 0; */
  margin: 15px 0 0 15px;
}

.maintenance-date {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: .9em;
  color: #7C87A1;
  margin-left: 15px;
}

.maintenance-notes {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: .9em;
  margin: 0 15px 0 15px;
  color: #384669;
}

.pending-item-complete-button {
  font-family: 'Roboto', sans-serif;
  font-size: .7em;
  color: #008CC5;
  background-color: #CAF3FB;
  border-radius: 5px;
  padding: 5px 10px;
  border: none;
  margin: 10px;
  width: 80px;
}

.pending-item-delete-button {
  font-family: 'Roboto', sans-serif;
  font-size: .7em;
  color: #C50000;
  background-color: #FFD4D4;
  border-radius: 5px;
  padding: 5px 10px;
  border: none;
  width: 80px;
  margin: 10px;
}

.add-to-maintenance {
  margin: 10px;
}


/* main {
  align-items: center;
  display: flex;
  font-size: 18px;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  position: relative;
  text-align: center;
  transform-style: preserve-3d;
  perspective: 100px;
}

main:before {
  background: linear-gradient(45deg, rgba(13, 13, 13, 0.575), rgba(6, 22, 93, 0.5)),
      url(https://i.imgur.com/6pAnv87.jpg) no-repeat bottom;
  background-size: cover;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
} */


/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */
