html {
  background: linear-gradient(225deg, #EBEDFF 25%, #F8FCFF 100%);
  height: 100%;
}

.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


/* Alerts */

.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.alert-danger {
  background: #dc3545;
  color: #fff;
}

.alert-success {
  background: #28a745;
  color: #fff;
}

/* LANDING PAGE, SIGN UP, LOG IN */
.landing {
  display: grid;
  grid-template-columns: 15% 17.5% 17.5% 17.5% 17.5% 15%;
  grid-template-rows: 10% 20% 20% 20% 20% 10%;
}

.col-1 {
  grid-row-start: 2;
  grid-row-end: 6;
  grid-column-start: 2;
  grid-column-end: 4;
  margin-top: 100px;
}

.col-2 {
  grid-row-start: 2;
  grid-row-end: 6;
  grid-column-start: 4;
  grid-column-end: 6;
  margin-top: 100px;
}

.col-1 > h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 3em;
  color: #008CC5;
  margin: 0;
}

.col-1 > h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.3em;
  color: #384669;
  width: 325px;
  margin-bottom: 30px;
}

.landing-btn, .form-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #fff;
  background-color: #008CC5;
  padding: 10px 30px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 3px;
}

.form-btn {
  border: none;
  font-size: 1em;
  margin-top: 20px;
}

.btn-signup {
  margin-right: 20px;
}

.btn-demo {
  color: #008CC5;
  box-shadow: 0px 0px 0px 2px #008CC5 inset;
  background-color: rgba(255, 255, 255, 0);
}

/* .landing-btn {
  transform: translateZ(.1px);
  position: relative;
  z-index: 10;
  display: inline-block;
  border-radius: 4px;
  border: none;
  text-align: center;
  font-family: 'Arvo', serif;
  font-size: 20px;
  padding: 10px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  width: 200px;
  text-decoration: none;
} */

/* .landing-btn span {
  color: black;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.landing-btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.landing-btn:hover span {
  padding-right: 25px;
}

.landing-btn:hover span:after {
  opacity: 1;
  right: 0;
} */

.have-acct-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #384669;
  margin-top: 20px;
}

.have-acct-text-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1em;
  color: #008CC5;
}

.car {
  width: 100%;
  margin-top: 50px;
}

label {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #384669;
  display: block;
}

.email-label {
  margin-bottom: 5px;
}

.password-label {
  margin-top: 15px;
  margin-bottom: 5px;
}

input {
  border: 1px solid #667EB9;
}

@media(max-width: 1000px) {
  .col-1 > h1 {
    font-size: 2.75em;
  }

  .col-1 > h2 {
    width: 100%;
    font-size: 1.2em;
  }

  .car {
    width: 90%;
    padding-left: 10%;
  }

  .landing-btn {
    padding: 8px 27px;
  }

  @media(max-width: 768px) {
    .landing {
      display: grid;
      grid-template-columns: 20% 20% 20% 20% 20%;
      grid-template-rows: 10% 20% 20% 20% 20% 10%;
    }

    .col-1, .col-2 {
      grid-column-start: 2;
      grid-column-end: 5;
      margin: 0;
    }

    .col-1 {
      grid-row-start: 2;
      grid-row-end: 5;
    }

    .col-2 {
      grid-row-start: 5;
      grid-row-end: 6;
    }

    .col-1 > h2 {
      width: 300px;
    }

    .car {
      width: 100%;
      padding: 0;
    }
  }

  @media(max-width: 500px) {
    .landing {
      grid-template-columns: 5% 30% 30% 30% 5%;
    }
  }
}

/* main {
  align-items: center;
  display: flex;
  font-size: 18px;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  position: relative;
  text-align: center;
  transform-style: preserve-3d;
  perspective: 100px;
}

main:before {
  background: linear-gradient(45deg, rgba(13, 13, 13, 0.575), rgba(6, 22, 93, 0.5)),
      url(https://i.imgur.com/6pAnv87.jpg) no-repeat bottom;
  background-size: cover;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
} */