html {
  background: linear-gradient(225deg, #EBEDFF 25%, #F8FCFF 100%);
  height: 100%;
}

body {
  margin: 0;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



/* Alerts */

.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.alert-danger {
  background: #dc3545;
  color: #fff;
}

.alert-success {
  background: #28a745;
  color: #fff;
}



/* LANDING PAGE, SIGN UP, LOG IN */

.landing {
  display: grid;
  grid-template-columns: 15% 17.5% 17.5% 17.5% 17.5% 15%;
  grid-template-rows: 10% 20% 20% 20% 20% 10%;
}

.col-1 {
  grid-row-start: 2;
  grid-row-end: 6;
  grid-column-start: 2;
  grid-column-end: 4;
  margin-top: 150px;
}

.col-2 {
  grid-row-start: 2;
  grid-row-end: 6;
  grid-column-start: 4;
  grid-column-end: 6;
  margin-top: 150px;
}

.col-1 > h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 3em;
  color: #008CC5;
  margin: 0;
}

.col-1 > h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.3em;
  color: #384669;
  width: 325px;
  margin-bottom: 30px;
}

.landing-btn, .form-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #fff;
  background-color: #008CC5;
  padding: 10px 30px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 3px;
}

.form-btn {
  border: none;
  font-size: 1em;
  margin-top: 20px;
  margin-right: 20px;
}

.btn-signup {
  margin-right: 20px;
}

.btn-demo {
  color: #008CC5;
  box-shadow: 0px 0px 0px 2px #008CC5 inset;
  background-color: rgba(255, 255, 255, 0);
}

.have-acct-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #384669;
  margin-top: 20px;
}

.have-acct-text-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1em;
  color: #008CC5;
}

.car {
  width: 100%;
  margin-top: 50px;
}

label {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #384669;
  display: block;
}

.email-label {
  margin-bottom: 5px;
}

.password-label {
  margin-top: 15px;
  margin-bottom: 5px;
}

input {
  border: 1px solid #667EB9;
}

@media(max-width: 1000px) {
  .col-1 > h1 {
    font-size: 2.75em;
  }

  .col-1 > h2 {
    width: 100%;
    font-size: 1.2em;
  }

  .car {
    width: 90%;
    padding-left: 10%;
  }

  @media(max-width: 768px) {
    .landing {
      display: grid;
      grid-template-columns: 20% 20% 20% 20% 20%;
      grid-template-rows: 10% 20% 20% 20% 20% 10%;
    }

    .col-1, .col-2 {
      grid-column-start: 2;
      grid-column-end: 5;
      margin: 0;
    }

    .col-1 {
      grid-row-start: 2;
      grid-row-end: 5;
    }

    .col-2 {
      grid-row-start: 5;
      grid-row-end: 6;
    }

    .col-1 > h2 {
      width: 300px;
    }

    .car {
      width: 100%;
      padding: 0;
    }
  }

  @media(max-width: 500px) {
    .landing {
      grid-template-columns: 5% 30% 30% 30% 5%;
    }
  }
}



/* NAVBAR */

.navbar {
  background-color: rgba(255, 255, 255, 0.6);
  display: grid;
}

.navbar > ul {
  list-style: none;
  text-decoration: none;
  padding: 0;
  display: grid;
  grid-template-columns: 10% 20% 20% 20% 20% 10%;
}

.logout {
  float: right;
}

@media(max-width: 768px) {
  .navbar > ul {
    grid-template-columns: 5% 15% 15% 15% 45% 5%;
  }
}

.navbar > li {
  display: inline;
}

.navbar {
  align-items: center;
}

.navbar a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #808FB4;
}

@media(max-width: 1000px) {
  .navbar a {
    font-size: .9em;
    margin-right: 20px;
  }
}

.nav-link-1 {
  grid-column: 2;
}

.nav-link-2 {
  grid-column: 3;
}

.nav-link-3 {
  grid-column: 4;
}

.nav-link {
  display: inline;
}

.nav-link-inactive {
  display: inline;
}

.nav-link-active {
  display: inline;
  color: #008CC5;
}



/* MAINTENANCE OPTIONS */

.maintenance-options {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 10%;
  justify-items: start;
}

.maintenance-options-h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.3em;
  color: #384669;
  grid-row: 2;
}

.h2-med {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: .9em;
  color: #384669;
  grid-row: 2;
}

.h2-active {
  color: #008CC5;
  border-bottom: 4px solid #008CC5;
}

.wrapper-1, .wrapper-2, .wrapper-3, .wrapper-4 {
  grid-row: 3;
  width: 100%;
}

.wrapper-1 {
  grid-column: 1;
}

.wrapper-2 {
  grid-column: 2;
}

.wrapper-3 {
  grid-column: 3;
}

.wrapper-4 {
  grid-column: 4;
}

.maintenance-item {
  background-color: #fff;
  margin: 10px 20px 10px 0;
  height: 65px;
  display: flex;
  border-radius: 10px;
  cursor: pointer;
  align-items: center;
  -webkit-box-shadow: 0px 2px 14px 2px rgba(110, 20, 20, 0.09); 
  box-shadow: 0px 2px 14px 2px rgba(0,0,0,0.09);
}

.maintenance-item-expanded {
  background-color: #fff;
  margin: 10px 20px 10px 0;
  border-radius: 10px;
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 14px 2px rgba(110, 20, 20, 0.09); 
  box-shadow: 0px 2px 14px 2px rgba(0,0,0,0.09);
}


.flex-container {
  display: flex;
}

.icon {
  padding: 10px;
  align-items: center;
}

.flex-sub-container {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.maintenance-task {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: .8em;
  color: #008CC5;
  padding: 5px 5px 0 0;
  margin: 0;
}

.schedule-task {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: .8em;
  color: #384669;
  margin: 0;
  padding: 5px 0;
}

.schedule-task:hover {
  color: #00B5DF;
  transition: color 0.5s ease;
}

.maintenance-item-form {
  grid-column-start: 1;
  grid-column-end: 3;
  padding-bottom: 10px;
  grid-row-start: 3;
  grid-row-end: 6;
}

.date-label {
  font-size: .8em;
}

.add-completed-label {
  font-size: .8em;
  margin-bottom: 10px;
}

.date-input {
  background: white;
  font-size: .8em;
  border-right: none;
  border-left: none;
  color: #384669;
  margin: 5px 0 10px 0; 
}

.notes-label {
  font-size: .8em;
}

.input-notes {
  width: 95%;
  margin-bottom: 5px;
}

.button-container {
  display: flex;
  flex-direction: row;
}

.submit-button, .submit-completed-button {
  font-family: 'Roboto', sans-serif;
  font-size: .7em;
  color: #008CC5;
  background-color: #CAF3FB;
  border-radius: 5px;
  padding: 5px 10px;
  border: none;
  margin-right: 5%;
}

.submit-completed-button {
  width: 80px;
}

.cancel-button {
  font-family: 'Roboto', sans-serif;
  font-size: .7em;
  width: 80px;
  color: #7C87A1;
  background-color: #E7EBF5;
  border-radius: 5px;
  padding: 5px 10px;
  border: none;
}

@media(max-width: 1120px) {
  .submit-button, .cancel-button {
    font-size: .6em;
  }

  .submit-button {
    padding: 5px 8px;
  }

  .cancel-button {
    width: 70px;
    padding: 5px 8px;
  }
}

@media(max-width: 1000px) {
  .maintenance-options {
    margin: 0 5%;
  }

  .maintenance-options-h2 {
    font-size: 1em;
  }

  .icon {
    padding: 5px;
    width: 30px;
  }
}

@media(max-width: 880px) {
  .submit-button, .cancel-button {
    font-size: .7em;
    padding: 5px 10px;
    width: 100%;
  }

  .cancel-button {
    margin-top: 5px;
  }
}

@media(max-width: 768px) {
  .wrapper-1, .wrapper-2, .wrapper-3, .wrapper-4 {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .maintenance-task {
    font-size: 1em;
  }
}

@media(max-width: 550px) {
  .h2-med {
    font-size: .8em;
  }
}



/* PENDING & COMPLETED MAINTENANCE */

.pending-maintenance-h1, .completed-maintenance-h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.3em;
  color: #384669;
  margin-left: 20px;
}

.pending-maintenance-sort {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #384669;
  margin-left: 20px;
}

.container-pending-maintenance-items, .container-completed-maintenance-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 5px;
  align-items: start;
  margin: 10px;
}

.no-maintenance-items {
  grid-column-start: 1;
  grid-column-end: 3;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #384669;
  margin-left: 10px;
  line-height: 1.5em;
}

.maintenance-options-link {
  color: rgb(0, 140, 197);
  text-decoration: none;
  font-weight: 600;
}

.pending-maintenance-item, .pending-maintenance-item-expanded, .completed-maintenance-item {
  background-color: #fff;
  margin: 10px;
  width: 300px;
  border-radius: 10px;
  cursor: pointer;
  align-items: center;
  -webkit-box-shadow: 0px 2px 14px 2px rgba(110, 20, 20, 0.09); 
  box-shadow: 0px 2px 14px 2px rgba(0,0,0,0.09);
}

.pending-maintenance-task {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1em;
  color: #008CC5;
  margin: 15px 0 0 15px;
}

.maintenance-date {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: .9em;
  color: #7C87A1;
  margin-left: 15px;
}

.completed-maintenance-date {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: .9em;
  color: #7C87A1;
  display: inline;
}

.maintenance-notes {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: .9em;
  margin: 0 15px 0 15px;
  color: #384669;
}

.pending-item-complete-button {
  font-family: 'Roboto', sans-serif;
  font-size: .7em;
  color: #008CC5;
  background-color: #CAF3FB;
  border-radius: 5px;
  padding: 5px 10px;
  border: none;
  margin: 10px;
  margin-left: 15px;
  width: 80px;
}

.pending-item-delete-button {
  font-family: 'Roboto', sans-serif;
  font-size: .7em;
  color: #C50000;
  background-color: #FFD4D4;
  border-radius: 5px;
  padding: 5px 10px;
  border: none;
  width: 80px;
  margin: 10px;
}

.add-to-maintenance {
  margin: 0 10px 0 15px;
}

.completed-maintenance-date-container {
  margin-top: 10px;
}

.checkbox {
  margin: 0 5px 0 15px;
}
